- name: Install k0s
  shell: curl -sSLf https://get.k0s.sh | sudo sh

- name: Install k0s controller
  when: k0s_role == "controller" and single | default(false)
  shell: k0s install controller --single

- name: Start k0s controller
  when: k0s_role == "controller"
  shell: k0s start

- name: Create worker token
  when: k0s_role == "controller"
  shell: k0s token create --role=worker
  register: token_output
  delegate_to: localhost

- name: Save token
  set_fact:
    worker_token: "{{ token_output.stdout }}"

- name: Install k0s worker
  when: k0s_role == "worker"
  copy:
    dest: /tmp/worker.token
    content: "{{ hostvars['front-controlplane-1'].worker_token }}"

- name: Install worker
  when: k0s_role == "worker"
  shell: k0s install worker --token-file /tmp/worker.token

- name: Start k0s worker
  when: k0s_role == "worker"
  shell: k0s start
